:root{
    --primary-color: #0070f3;
    --secondary-color: #6c757d;
    --tertiary-color: #f8f9fa;
    --quaternary-color: #212529;
    --quinary-color: #e9ecef;
    --senary-color: #ced4da;
    --septenary-color: #adb5bd;
    --black-color:#000000;
    --white-color:#ffffff;
}
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin:0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
input , button{
    font: inherit;
}
a{
    text-decoration: none;
}